@font-face
{
	font-family: monbookmanoldstyle;
	src: url('../font/monbookmanoldstyle.ttf');
}
/* Body */
body {
	font-family: monbookmanoldstyle;
	background-image:url('../images/background.jpg');
	background-repeat:repeat;
}
/* Typograph */
h1 {
	font-size:150%;
}
h2 {
	font-size:140%;
}
h3 {
	font-size:130%;
}
h4 {
	font-size:120%;
}
h5 {
	font-size:110%;
}
h6 {
	font-size:100%;
}
/* Header */
.header {
	background-image:url('../images/header.png');
	background-repeat:no-repeat;
	height:240px;
	width:340px;
	margin-left:auto;
	margin-right:auto;
}
/* Content Joomla core component */
@media (min-width: 768px) {
	.component > div .items-leading, .component > div .items-row {
		border:0px solid transparent;
		border-bottom: 10px solid transparent;
		-webkit-border-image:url('../images/article-bottom-border.png') 30 30 round; /* Safari 5 */
		-o-border-image:url('../images/article-bottom-border.png') 30 30 round; /* Opera */
		border-image:url('../images/article-bottom-border.png') 30 30 round;
		padding-bottom:35px;
		margin-bottom:15px;
	}
}
@media (max-width: 767px) {
	.component > div .items-leading, .component > div .items-row .item {
		border:0px solid transparent;
		border-bottom: 10px solid transparent;
		-webkit-border-image:url('../images/article-bottom-border.png') 30 30 round; /* Safari 5 */
		-o-border-image:url('../images/article-bottom-border.png') 30 30 round; /* Opera */
		border-image:url('../images/article-bottom-border.png') 30 30 round;
		padding-bottom:35px;
		margin-bottom:15px;
	}
}
.item-page {
	margin-top:-10px;
}
.page-header {
	border:0px solid transparent;
}
.component > div .items-more > ol > li > a {
	border:0px solid transparent;
}
/* Modules & Component */
.module-nice, .component {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
	border:1px solid #ddd;
	padding:35px 35px 20px 35px;
	margin:0px 0px 20px 0px;
}
.module-nice {
	position:relative;
}
.module-nice .module-corner{
	position:absolute;
	top:5px;
	left:5px;
	background-image:url('../images/module-corner.png');
	background-repeat:no-repeat;
	height:50px;
	width:50px;
}
.module-nice .module-header{
	margin:0px 0px 25px 0px;
	text-align:center;
}
/* Mongolian Old Style Flag */
.flags {
	position:fixed;
	bottom:0px;
	right:25px;
	z-index:-1;
}
/* Search */
.search {
	position:absolute;
	top:0px;
	right:10px;
}
.search label {
	visibility:hidden;
}
/* Breadcrumbs */
.breadcrumb {
	background:none;
}
.breadcrumb .ger {
	content:url('../images/ger.png');
}
.breadcrumb .horse {
	content:url('../images/horse.gif');
}
/*  */
