body {
	background-image:url('../images/background.jpg');
	background-repeat:repeat;
}
.header {
	background-image:url('../images/header.png');
	background-repeat:no-repeat;
	height:240px;
	width:340px;
	margin-left:auto;
	margin-right:auto;
}
.blog .page-header {
	border:0px solid transparent;
	border-bottom: 10px solid transparent;
	-webkit-border-image:url('../images/article-header-bottom-border.png') 30 30 round; /* Safari 5 */
	-o-border-image:url('../images/article-header-bottom-border.png') 30 30 round; /* Opera */
	border-image:url('../images/article-header-bottom-border.png') 30 30 round;
}
.blog, .module-nice {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#fff;
	border:1px solid #ddd;
	padding:5px 25px 20px 25px;
	margin:0px 0px 10px 0px;
}
.module-nice {
	position:relative;
}
.module-nice .module-corner{
	position:absolute;
	top:5px;
	left:5px;
	background-image:url('../images/module-corner.png');
	background-repeat:no-repeat;
	height:50px;
	width:50px;
}
.module-nice .module-header{
	margin:30px 5px 25px 10px;
	text-align:center;
}
.module-nice ul{
	margin-left:0px;
}
.flags {
	position:fixed;
	bottom:0px;
	right:25px;
	z-index:-1;
}
.search {
	position:absolute;
	top:0px;
	right:10px;
}
.search label {
	visibility:hidden;
}

.mostread,
.weblinks,
.category-module,
.syndicate-module,
ul.nav.menu,
#login-form {
/*	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background:#eee;
	border:1px solid #ccc;
	padding:5px;
	margin:0px 0px 10px 0px;
*/
}
.mostread, 
.weblinks, 
.category-module {
	padding:0px 0px 0px 20px; 
} 
.syndicate-module {
	display:block; 
}
